i.circle-outline {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 3px #888;
    padding: 0.5em 0.6em;
}

.select2-container .select2-selection--single {
    height: 30px;
}

.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.border-bottom-alone {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    padding-bottom: 10px;
    padding-top: 0;
}

.dams-img {
    width: 100%;
}

.info-scroll {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    overflow-y: hidden;
}

    .info-scroll:hover {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .info-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px #1d1919;
        background-color: transparent;
    }

    .info-scroll::-webkit-scrollbar {
        width: 2px;
        background-color: #1d1919;
    }

    .info-scroll::-webkit-scrollbar-thumb {
        background-color: #1d1919;
        border: 2px solid #555555;
    }