@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bản đồ thủy điện Sơn La</title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="/home/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/home/css/animate.min.css" />
    <link rel="stylesheet" href="/home/css/ionicons.min.css" />
    <link rel="stylesheet" href="/home/css/styles.css" />
</head>
<body>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">Sở công thương tỉnh Sơn La</h1>
                <h4>Hệ thống thủy điện Sơn La</h4>
                <hr>
                <a href="/map" class="btn btn-primary btn-xl">Bản đồ</a> &nbsp; 
                <a href="/notify" class="btn btn-primary btn-xl page-scroll">Quản lí</a>
            </div>
        </div>
    </header>
</body>
</html>