@page
@model SLGIS.Web.Areas.Admin.Pages.Hydropower.NewOrEditModel
@{
    ViewBag.Title = Model.HydropowerPlant.Id != Guid.Empty ? "Sửa lại" : "Tạo mới";
    ViewBag.Breadcrumbs = "<a href='" + Url.Page("Index") + "' class='breadcrumb-item'>Nhà máy thủy điện</a>" +
                          "<span class='breadcrumb-item active'>" + ViewBag.Title + "</span>";

}

<form enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.HydropowerPlant.Id)

    <div class="card mt-2 mb-2 shadow-base">
        <div class="card-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="plant-tab" data-toggle="tab" href="#plant" role="tab" aria-controls="plant" aria-selected="true">NHÀ MÁY THỦY ĐIỆN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dams-tab" data-toggle="tab" href="#dams" role="tab" aria-controls="dams" aria-selected="true">ĐẬP THỦY ĐIỆN</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="plant" role="tabpanel" aria-labelledby="plant-tab">
                    <div class="row">
                        <partial name="_PlantPartial" />
                    </div>
                </div>
                <div class="tab-pane fade show" id="dams" role="tabpanel" aria-labelledby="dams-tab">
                    <div class="row">
                        <partial name="_DamsPartial" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Lưu</button>
    <a href="@Url.Page("Index")" class="btn btn-outline-secondary">Quay lại</a>
</form>

@section Styles {
    <link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet" />
    <style>
        .select2-results__option[aria-selected="true"] {
            display: none;
        }
    </style>
}

@section Scripts {
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#HydropowerPlant_HydropowerDams_Description').summernote({
                height: 300,
            });

            $(".select2").select2({ width: '100%' });

            $(".gisimage input[type='file']").change(function () {
                readURL(this, function (base64Image) {
                    $('.gisimage img').attr('src', base64Image);
                });
            })
        });

        function readURL(input, callback) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    callback(e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}