@using SLGIS.Implementation
@inject HydropowerService hydropowerService 
@{
    var selected = hydropowerService.GetCurrent(User.GetId());
    var hydropowerPlants = hydropowerService.CurrentList(User.GetId());

    var url = $"{Context.Request.Path}";
}

<div id="hydropowerPlant" class="text-center" data-id="@selected.Id">
    <div class="dropdown">
        <a class="dropdown-toggle text-uppercase" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>@selected.Name</strong>
        </a>
        @if (hydropowerPlants.Count() > 1)
        {
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @foreach (var hydropowerPlant in hydropowerPlants.Where(m => m.Id != selected.Id))
                {
                    <a class="dropdown-item text-uppercase" href="@($"{url}?handler=HydropowerChange&id={hydropowerPlant.Id}")"><strong>@hydropowerPlant.Name</strong></a>
                }
            </div>
        }
    </div>
</div>