@using SLGIS.Core
@inject IHydropowerPlantRepository hydropowerPlantRepository
@{
    var hydropowerPlantId = (Guid)ViewData["HydropowerPlantId"];
    var hydropowerPlants = hydropowerPlantRepository.Find(m=> true).ToList();
    if (User.IsInRole(Constant.Role.Member))
    {
        hydropowerPlants = hydropowerPlants.Where(m => m.Owners.Contains(User.GetId())).ToList();
    }

    var selected = hydropowerPlants.First(m => m.Id == hydropowerPlantId);
    var url = $"{Context.Request.Path}";
}

<div id="hydropowerPlant" class="text-center" data-id="@selected.Id">
    <div class="dropdown">
        <a class="dropdown-toggle text-uppercase" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>@selected.Name</strong>
        </a>
        @if (hydropowerPlants.Count > 1)
        {
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @foreach (var hydropowerPlant in hydropowerPlants.Where(m => m.Id != selected.Id))
                {
                    <a class="dropdown-item text-uppercase" href="@($"{url}?hydropowerPlantId={hydropowerPlant.Id}")"><strong>@hydropowerPlant.Name</strong></a>
                }
            </div>
        }
    </div>
</div>