@using SLGIS.Core
@inject IFactoryRepository factoryRepository
@{
    var factoryId = (Guid)ViewData["FactoryId"];
    var factories = factoryRepository.Find(m=> true).ToList();
    if (User.IsInRole(Constant.Role.Member))
    {
        factories = factories.Where(m => m.Owner == User.Identity.Name).ToList();
    }

    var selected = factories.First(m => m.Id == factoryId);
    var url = $"{Context.Request.Path}";
}

<div id="factory" class="text-center" data-id="@selected.Id">
    <div class="dropdown">
        <a class="dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @selected.Title
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            @foreach (var factory in factories.Where(m => m.Id != selected.Id))
            {
                <a class="dropdown-item text-uppercase" href="@($"{url}?factoryId={factory.Id}")"><strong>@factory.Title</strong></a>
            }
        </div>
    </div>
</div>