@inject SLGIS.Implementation.HydropowerService _hydropowerService
@inject SLGIS.Core.Repositories.INotifyRepository _notifyRepository
@using SLGIS.Core

@{
    var plant = _hydropowerService.GetCurrent(User.GetId());
    var hasPlant = plant != null;
    var isAdmin = Constant.Role.All.Any(User.IsInRole);
    var notifyCount = 0;
    if (!isAdmin && hasPlant)
    {
        notifyCount = _notifyRepository.CountUnread(plant.Id, User.GetId().ToString());
    }
}

<a asp-page="/Map/Index" data-href="Index/Map/NewOrEdit/" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-location-outline tx-24"></i>
        <span class="menu-item-label">Map</span>
    </div>
</a>
@if (isAdmin)
{
    <a asp-page="/User/Index" data-href="Index/User/NewOrEdit/" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-person-outline tx-22"></i>
            <span class="menu-item-label">Thành viên</span>
        </div>
    </a>
    <a asp-page="/FileManager/Index" data-href="Index/FileManager/NewOrEdit/" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-folder-outline tx-24"></i>
            <span class="menu-item-label">Chia sẻ tài liệu</span>
        </div>
    </a>
    <a asp-area="Admin" asp-page="/Substation/Index" data-href="Index/Admin/Substation/NewOrEdit/" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-ionic-outline tx-22"></i>
            <span class="menu-item-label">Trạm biến áp/ cột</span>
        </div>
    </a>
}
@if (hasPlant)
{
    <a asp-page="/Notify/Index" data-href="Index/Notify/NewOrEdit/Notify/Detail" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-bell-outline tx-20"></i>
            <span class="menu-item-label">Thông báo</span>
            @if (!isAdmin)
            {
                <strong class="pull-right" style="font-size:13px">@notifyCount</strong>
            }
        </div>
    </a>
}
<a asp-area="Admin" asp-page="/Hydropower/Index" data-href="Index/Admin/Hydropower/NewOrEdit/" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Nhà máy thủy điện</span>
    </div>
</a>
@if (isAdmin)
{
    <a asp-area="Admin" asp-page="/Element/Index" data-href="Index/Admin/Element/NewOrEdit/" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-grid-view-outline tx-22"></i>
            <span class="menu-item-label">Thông số báo cáo</span>
        </div>
    </a>
}
@if (hasPlant)
{
    <a asp-page="/Report/Index" data-href="Index/Report/NewOrEdit/" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-email-outline tx-20"></i>
            <span class="menu-item-label">Báo cáo</span>
        </div>
    </a>
    <a asp-area="" asp-page="/Posting/Index" data-href="Posting/Index/Posting/NewOrEdit/Posting/Detail" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-flask-outline tx-22"></i>
            <span class="menu-item-label">Dữ liệu vận hành</span>
        </div>
    </a>
    <a asp-page="/Graph/Index" data-href="Index/Graph/Detail" class="br-menu-link">
        <div class="br-menu-item">
            <i class="menu-item-icon ion-stats-bars tx-20"></i>
            <span class="menu-item-label">Biểu đồ dữ liệu</span>
        </div>
    </a>
}