<div class="info hydropower-plant d-none">
    <img class="dams-img" src="images/logo-map.jpg" />
    <div class="pl-3 pt-3 pb-0 border-bottom">
        <h5 class="pb-2" style="color: white;" id="plant-name">Tà cọ</h5>
    </div>
    <div class="pl-3 pt-3 pb-3 border-bottom manage-section">
        <a href="#" title="Thông tin chi tiết" class="edit-link" target="_blank"><i class="fa fa-info-circle circle-outline"> </i> <span class="pr-3"></span></a>
        <a href="/posting" title="Dữ liệu báo cáo"><i class="fa fa-reply circle-outline"> </i> <span class="pr-3"></span></a>
        <a href="javascript:void(0)" title="Chỉnh sửa tọa độ" class="edit-location"><i class="fa fa-location-arrow circle-outline"> </i> <span class="pr-3"></span></a>
    </div>

    <!-- information  -->
    <div class="pl-3 pt-2 pb-1">
        <i class="fa fa-user-circle"> </i> <span class="pl-2" id="plant-owner-name">name</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-address-book-o pl-3"> </i> <span class="pl-2" id="plant-owner-address">plant-owner-address</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-user pl-3"> </i> <span class="pl-2" id="plant-owner-person-name">plant-owner-person-name</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-phone pl-3"> </i> <span class="pl-2" id="plant-owner-phone">plant-owner-phone</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-envelope pl-3"> </i> <span class="pl-2" id="plant-owner-email">plant-owner-email</span>
    </div>

    <div class="border-bottom-alone"></div>

    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-minus"> </i> <span class="pl-2" id="plant-wattage">plant-wattage</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-minus"> </i> <span class="pl-2" id="plant-level">plant-level</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-location-arrow"> </i> <span class="pl-2" id="plant-build-address">plant-build-address</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-gratipay"> </i> <span class="pl-2" id="plant-area">plant-area</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-minus-circle"> </i> <span class="pl-2" id="plant-start-build">address</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-money"> </i> <span class="pl-2" id="plant-total">plant-total</span>
    </div>

    <div class="border-bottom-alone"></div>
    <!-- information  -->
</div>