<div class="info substation d-none1">
    <img class="dams-img" src="images/logo-map.jpg" />
    <div class="pl-3 pt-3 pb-0 border-bottom">
        <h5 class="pb-2" style="color: white;" id="substation-name">500KV</h5>
    </div>
    <div class="pl-3 pt-3 pb-3 border-bottom manage-section">
        <a href="#" title="Thông tin chi tiết"><i class="fa fa-info-circle circle-outline"> </i> <span class="pr-3"></span></a>
        <a href="#" title="Chỉnh sửa thông tin"><i class="fa fa-edit circle-outline"> </i> <span class="pr-3"></span></a>
    </div>

    <!-- information  -->
    <div class="pl-3 pt-2 pb-1">
        <i class="fa fa-address-book"> </i> <span class="pl-2" id="substation-address">address</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-check-circle-o"> </i> <span class="pl-2" id="substation-number">number</span>
    </div>
    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-minus-circle"> </i> <span class="pl-2" id="substation-line">line</span>
    </div>

    <div class="pl-3 pt-1 pb-1">
        <i class="fa fa-level-up"> </i> <span class="pl-2" id="substation-level">level</span>
    </div>
    <!-- information  -->
</div>