@page
@model SLGIS.Web.Pages.Map.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Map";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/map-init.css" rel="stylesheet" />
    <link href="~/css/map-index.css" rel="stylesheet" />
</head>
<body>
    <div class="show-reg-form d-none hidden">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Page("/", new { area = "" })"
              method="post" id="logoutForm">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </div>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <div class="info-scroll">
                <div>
                    <select class="form-control" id="search-marker">
                        <option></option>
                        <option value="sd">Tà cọ sdf sf dsadf sa fasd fasfd ad fsa fsad fsdf </option>
                        <option value="AL">Alabama</option>
                        <option value="xxx">Alabama</option>
                    </select>

                </div>
                <div class="info hydropower-plant d-none">
                    <img class="dams-img" src="images/logo-map.jpg" />
                    <div class="pl-3 pt-3 pb-0 border-bottom">
                        <h5 class="pb-2" style="color: white;" id="plant-name">Tà cọ</h5>
                    </div>
                    <div class="pl-3 pt-3 pb-3 border-bottom manage-section">
                        <a href="#" title="Thông tin chi tiết"><i class="fa fa-info-circle circle-outline"> </i> <span class="pr-3"></span></a>
                        <a href="#" title="Chỉnh sửa thông tin"><i class="fa fa-edit circle-outline"> </i> <span class="pr-3"></span></a>
                        <a href="#" title="Dữ liệu báo cáo"><i class="fa fa-reply circle-outline"> </i> <span class="pr-3"></span></a>
                    </div>

                    <!-- information  -->
                    <div class="pl-3 pt-2 pb-1">
                        <i class="fa fa-user-circle"> </i> <span class="pl-2" id="plant-owner-name">name</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-address-book-o pl-3"> </i> <span class="pl-2" id="plant-owner-address">plant-owner-address</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-user pl-3"> </i> <span class="pl-2" id="plant-owner-person-name">plant-owner-person-name</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-phone pl-3"> </i> <span class="pl-2" id="plant-owner-phone">plant-owner-phone</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-envelope pl-3"> </i> <span class="pl-2" id="plant-owner-email">plant-owner-email</span>
                    </div>

                    <div class="border-bottom-alone"></div>

                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-minus"> </i> <span class="pl-2" id="plant-wattage">plant-wattage</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-minus"> </i> <span class="pl-2" id="plant-level">plant-level</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-location-arrow"> </i> <span class="pl-2" id="plant-build-address">plant-build-address</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-gratipay"> </i> <span class="pl-2" id="plant-area">plant-area</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-minus-circle"> </i> <span class="pl-2" id="plant-start-build">address</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-money"> </i> <span class="pl-2" id="plant-total">plant-total</span>
                    </div>

                    <div class="border-bottom-alone"></div>
                    <!-- information  -->
                </div>

                <div class="info hydropower-dams d-none1">
                    <img class="dams-img" src="images/logo-map.jpg" />
                    <div class="pl-3 pt-3 pb-0 border-bottom">
                        <h5 class="pb-2" style="color: white;" id="dams-name">Tà cọ</h5>
                    </div>
                    <div class="pl-3 pt-3 pb-3 border-bottom manage-section">
                        <a href="#" title="Thông tin chi tiết"><i class="fa fa-info-circle circle-outline"> </i> <span class="pr-3"></span></a>
                        <a href="#" title="Chỉnh sửa thông tin"><i class="fa fa-edit circle-outline"> </i> <span class="pr-3"></span></a>
                        <a href="#" title="Dữ liệu báo cáo"><i class="fa fa-reply circle-outline"> </i> <span class="pr-3"></span></a>
                        <a href="#" onclick="$('#logoutForm').submit()" title="Thoát"><i class="fa fa-sign-out circle-outline"> </i> <span class="pr-3"></span></a>
                    </div>

                    <!-- information  -->
                    <div class="pl-3 pt-2 pb-1">
                        <i class="fa fa-address-book"> </i> <span class="pl-2" id="dams-address">dams-address</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-check-circle-o"> </i> <span class="pl-2" id="dams-missions">dams-missions</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-minus-circle"> </i> <span class="pl-2" id="dams-start-build">dams-start-build</span>
                    </div>

                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-money"> </i> <span class="pl-2" id="dams-nguon-von">dams-nguon-von</span>
                    </div>

                    <div class="border-bottom"></div>

                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-user"> </i> <span class="pl-2" id="dams-owner-name">dams-owner-name</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-address-book-o pl-3"> </i> <span class="pl-2" id="dams-owner-address">dams-owner-address</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-phone pl-3"> </i> <span class="pl-2" id="dams-owner-phone">dams-owner-phone</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-fax pl-3"> </i> <span class="pl-2" id="dams-owner-fax">dams-owner-fax</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-envelope pl-3"> </i> <span class="pl-2" id="plant-owner-email">plant-owner-email</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-globe pl-3"> </i> <span class="pl-2" id="dams-owner-website">dams-owner-website</span>
                    </div>

                    <div class="border-bottom"></div>

                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-user"> </i> <span class="pl-2" id="dams-exploit-name">dams-exploit-name</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-address-book-o pl-3"> </i> <span class="pl-2" id="dams-exploit-address">dams-exploit-address</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-fax pl-3"> </i> <span class="pl-2" id="dams-exploit-fax">dams-exploit-fax</span>
                    </div>
                    <div class="pl-3 pt-1 pb-1">
                        <i class="fa fa-envelope pl-3"> </i> <span class="pl-2" id="dams-exploit-email">dams-exploit-email</span>
                    </div>
                    <!-- information  -->
                </div>

                <div class="pl-3 pt-3">
                    <i class="fa fa-level-down"> </i> <span class="pl-2">Lựa chọn các lớp bản đồ</span>
                </div>
                <div class="p-3 pt-0 ml-4 text-light" style="padding-left: 2rem !important;">

                    <div class="custom-checkbox pb-2">
                        <input type="checkbox" class="custom-control-input" name="layerSelect" id="chkDams" value="hydropower-dams">
                        <label class="custom-control-label" for="chkDams">Đập, hồ chứa</label>
                    </div>
                    <div class="custom-checkbox pb-2">
                        <input type="checkbox" class="custom-control-input" name="layerSelect" id="chkFactory" value="hydropower-plant" checked>
                        <label class="custom-control-label" for="chkFactory">Nhà máy thủy điện</label>
                    </div>
                    <div class="custom-checkbox pb-2">
                        <input type="checkbox" class="custom-control-input" name="layerSelect" id="chkLine" value="substation">
                        <label class="custom-control-label" for="chkLine">Đường dây, trạm biến áp</label>
                    </div>
                </div>
                <div class="footer">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Sở Công thương tỉnh Sơn La
                    </p>
                </div>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArJ_vy6q2hPSpB3Z3PUMUSLTPUPd0ZzRM&callback=initMap&libraries=&v=weekly"
            defer></script>

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/map-init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/js/map-index.js"></script>
</body>
</html>