@page
@model SLGIS.Web.Pages.Map.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Map";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/map-init.css" rel="stylesheet" />
    <link href="~/css/map-index.css" rel="stylesheet" />
</head>
<body>
    <div class="show-reg-form d-none hidden">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Page("/", new { area = "" })"
              method="post" id="logoutForm">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </div>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">

            <div class="info-scroll">
                <div>
                    <select class="form-control" id="search-marker">
                        @foreach (var item in Model.HydropowerPlants)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="pl-3 pt-3 pb-3 border-bottom">
                    <a href="/" title="Trang chủ"><i class="fa fa-home circle-outline"> </i> <span class="pr-3"></span></a>
                    <a href="#" title="Quay lại" class="go-back"><i class="fa fa-backward circle-outline"> </i> <span class="pr-3"></span></a>

                    <a href="#" onclick="$('#logoutForm').submit()" title="Thoát"><i class="fa fa-sign-out circle-outline"> </i> <span class="pr-3"></span></a>
                </div>

                <partial name="_PlantInfo" />

                <partial name="_DamsInfo" />
                <partial name="_SubstationInfo" />

                <partial name="_Layer" model="Model.ElectricLevels" />
                <div class="footer">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Sở Công thương tỉnh Sơn La
                    </p>
                </div>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArJ_vy6q2hPSpB3Z3PUMUSLTPUPd0ZzRM&callback=initMap&libraries=&v=weekly"
            defer></script>

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/map-init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/js/map-index.js"></script>
</body>
</html>