@page
@model SLGIS.Web.Pages.Map.IndexModel
@{
    ViewBag.Title = ViewBag.Breadcrumbs = "Map";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/map-init.css" rel="stylesheet" />
    <link href="~/css/map-index.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div >
                <select class="form-control" id="search-marker">
                    <option></option>
                    <option value="sd" f>Tà cọ sdf sf dsadf sa fasd fasfd ad fsa fsad fsdf </option>
                    <option value="AL">Alabama</option>
                    <option value="xxx">Alabama</option>
                </select>

            </div>

            <img class="dams-img" src="~/images/logo-map.jpg" />
            <div class="pl-3 pt-3 pb-0 border-bottom">
                <h5 class="pb-2" style="color: white;" id="dams-name">Tà cọ</h5>
            </div>
            <div class="pl-3 pt-3 pb-3" style="border-bottom: 1px solid rgba(255, 255, 255, 0.1);">
                <a href="#"><i class="fa fa-camera circle-outline"> </i> <span class="pr-3"></span></a>
                <a href="#"><i class="fa fa-camera circle-outline"> </i> <span class="pr-3"></span></a>
            </div>
            <div class="pl-3 pt-2 pb-1">
                <i class="fa fa-camera"> </i> <span class="pl-2">0987654456789</span>
            </div>
            <div class="pl-3 pt-1 pb-1">
                <i class="fa fa-camera"> </i> <span class="pl-2">0987654456789</span>
            </div>
            <div class=" p-3 pt-0 ml-4 text-light">
                <div class="custom-checkbox pb-2">
                    <input type="checkbox" class="custom-control-input" id="chkDams">
                    <label class="custom-control-label" for="chkDams">Đập, hồ chứa</label>
                </div>
                <div class="custom-checkbox pb-2">
                    <input type="checkbox" class="custom-control-input" id="chkFactory">
                    <label class="custom-control-label" for="chkFactory">Nhà máy thủy điện</label>
                </div>
                <div class="custom-checkbox pb-2">
                    <input type="checkbox" class="custom-control-input" id="chkLine">
                    <label class="custom-control-label" for="chkLine">Đường dây, trạm biến áp</label>
                </div>
            </div>
            <div class="footer">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Sở Công thương tỉnh Sơn La
                </p>
            </div>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

        </div>
    </div>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArJ_vy6q2hPSpB3Z3PUMUSLTPUPd0ZzRM&callback=initMap&libraries=&v=weekly"
                defer></script>
        <script src="~/js/map-init.js"></script>*@

    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/js/map-index.js"></script>
</body>
</html>