@model List<SLGIS.Core.Element>
<tr class="data-row">
    <td><input class="table-text-box" type="number" value="1"/></td>
    @foreach (var item in Model)
    {
        <td><input type="text" class="table-text-box" data_code="@item.Code" /></td>
    }
</tr>